[Unit]
Description=Recording retrieval HTTP server
After=forwarder.service

[Service]
Type=simple
ExecStart=/opt/exo/http.py

[Install]
WantedBy=multi-user.target
