[Unit]
Description=Forwarder service on port 25000
After=forwarder.service

[Service]
Type=simple
ExecStart=/opt/exo/reference

[Install]
WantedBy=multi-user.target
